
h2{
	font-family: "Montserrat-bold";
	color: #fff;
}

#title {
	background-color: #ff4c68;
	font-family: 'Montserrat-black';
	color: white;
	
    
}

.container-fluid {
	padding: 3% 15% 7%;
}

.heading {
	font-family: 'Montserrat-black';
	line-height: 1.5;
	font-size: 3.5rem;
}

                          /*navigation bar*/

 .navbar-brand {
 	font-family: 'Ubuntu';
 	font-size: 2.5rem;
 	font-weight: bold;
 }

 .navbar {
 	padding-bottom: 4.5rem;
 	padding-right: 0;
 }

 .nav-item {
 	padding: 0 18px;
 }

 .nav-link {
 	font-size: 1.2rem;
 	font-family: 'Montserrat-light';
 } 


/*download buttons*/

.download_button{

   margin: 5% 3% 5% 0;

}

/*title image*/

.title-image {
	width: 60%;
	transform: rotate(25deg);
	position: absolute;
	right: 30%;
	

}


     /*FEATURES*/



#features{
	background-color: #fff;
	position: relative;
	z-index: 1;
}

 #features h3 {
 	font-family: "Montserrat-bold";
 }

 #features p {
 	color: #8f8f8f;
 }

.padd {
	padding: 5px;
	text-align: center;
	line-height: 1.5;
}

.fas {
	color: #ef8172;
}

i {
	margin-bottom: 1rem;
}

i:hover {

     color: #ff4c68;
     transition: 0.5s ease;
}

/*testimonials*/

#testimonials{
	
	background-color: #ef8172;
	text-align: center;

}

.dogimage{
	width: 200px;
	border-radius: 100%;
	padding: 3%;
}

#press{
	background-color: #ef8172;
	margin: 0;
	padding-bottom: 5%;
	text-align: center;

}

.partners {
	width: 200px;
	padding: 3%;
	
}


.carousel-item {
	padding: 7% 15%;
}

/*pricing*/

#pricing{
	padding: 100px;
	text-align: center;
}

.card-deck {
	margin-right: auto;
	margin-left: auto;
}

.col-lg-4 {
	padding: 80px;
}

.pric {
	color: black;
}

@media (max-width: 900px) {

 .title-image {
 	position: static;
 	transform: rotate(0);

 }

 #title {
 	text-align: center;
 }

}

/*cta section*/

#cta {
	text-align: center;
	background-color: #ff4c68;
	height: 450px;

}


.cta-button {
	margin-top: 30px;
}


.mainline {
	font-family: "Montserrat-black";
	color: #fff;
	padding-top: 50px;
	margin: 1% 15%;
	font-size: 3.3rem;
}
.gap-btw-btn {
	padding: 2%;
}


/*footer section*/

#footer {
	text-align: center;
}

.footer-main-line {
	margin-top: 40px;
	margin-bottom: 50px;
}

.footer-icons {
	margin-bottom: 0;
	margin-top: 40px;
	padding-top: 100px;
	padding: 2%;
}